discord.py>=2.0
python-dotenv
aiohttp
PyNaCl
ffmpeg-python   # Not required only if u want to use music commands
yt-dlp          # Not required only if u want to use music commands
wavelink        # Not required only if u want to use music commands
sqlite3
